<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringRestStarterApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="spring-rest-starter.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="com.mahmutcanga.springreststarter.SpringRestStarterApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>